<html>
  <head>
    <title>My Awesome App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  </head>

  <body>
    <% Object.keys(flash).forEach(function(key) { %>
      <div class="flash <%= key %>">
        <p><%= flash[key] %></p>
      </div>
    <% }) %>
    
    <%- yield() %>
  </body>
</html>
